node_modules
target
dist
logs
public
.cache
.vscode
.DS_Store
.idea
.next
yarn-error.log
npm-debug.log


# Ignore all files inside the /src/components/ui directory
/src/components/ui/*

# But do not ignore the ui directory itself
!/src/components/ui/